body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: white;
}

/*.triangle {
  -webkit-clip-path: url(#cp);
          clip-path: url(#cp);
  width: 300px;
  height: 300px;
  background-size: cover;
  background-blend-mode: screen;
  position: absolute;
  top: 45%;
  left: 50%;
}

.first {
  background-color: #333;
  background-image: url("https://45.media.tumblr.com/d6946dbae92220c65838e861a365affb/tumblr_mzs9uzNKDZ1qddrn0o1_500.gif");
  -webkit-transform: translateX(-65%) translateY(-50%) rotate(60deg);
          transform: translateX(-40%) translateY(-90%) rotate(-120deg);
}
//triangle-end*/
.pure-g {
      margin-bottom: 25px;
}

.pure-u-1 {
      box-sizing: border-box;
      padding: 25px;
      text-align: center;
      background-image: url("");
      height: 30vh;
}
.eentje{
      background-image: url("http://backgrounds.picaboo.com/download/96/6b/96b7c6cc997f4bcba7650061a1624b2a/white_texture.jpg");
      height: 120px;
      background-size: cover;
}
.item{
      width: 220px;
      height: 270px;
      background-color: blue;
      margin: 4%;
      float: left;
      filter: grayscale(100%);
}
.item:hover{
      filter: grayscale(0%);
      transition: 0.6s;
}
p:hover{
      opacity: 1;
      transition: 0.6s;
}
p{
  background-color: white;
  padding: 8%;
  font-family: 'PT Sans Narrow', sans-serif;
  opacity: 0.4;
}
h1 {
      font-size: 1.2em;
      padding-top: 5px;
      font-weight: 900;
      padding-bottom: 10px;
      border-bottom: 0.5px solid black;
      width: 20%;
      margin: auto;
      font-family: 'Anton', sans-serif;
      font-weight: lighter;
}

h2 {
      font-size: 1em;
      font-weight: 900;
      margin-bottom: 25px;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: lighter;
      padding-top: 10px;
}
h3{
      text-align: left;
      font-family: 'PT Sans Narrow', sans-serif;
      margin-left: 7%;
}

.gallery{
    margin: 50px auto;
    clear: both;
    display: block;
    width: 70%;
}
.een{
  background-image: url("https://68.media.tumblr.com/c80dc100a41ad8d77d726b284fc9f9dd/tumblr_ofgcktjnf01vimo5yo1_1280.jpg");
  background-size: cover;
  background-position: center,
}
.twee{
  background-image: url("http://68.media.tumblr.com/8a47ed7b68a4290f4febff5e001ae4c4/tumblr_ogl4v7HfhT1vimo5yo1_1280.jpg");
  background-size: cover;
  background-position: center,
}
.drie{
  background-image: url("http://68.media.tumblr.com/498217a9b6929126c759dffa36636d94/tumblr_og6dw4JX5X1vimo5yo1_1280.jpg");
  background-size: cover;
  background-position: center,
}
.vier{
  background-image: url("http://68.media.tumblr.com/e81f10ab5a9da25c7f207d4cce292ba2/tumblr_ofgprwnPKn1vimo5yo1_1280.jpg");
  background-size: cover;
  background-position: center,
}
.vijf{
  background-image: url("http://68.media.tumblr.com/9508f44b5c182c7ddd35fb7b0188aa56/tumblr_ofgfljHfHR1vimo5yo1_1280.jpg");
  background-size: cover;
  background-position: center,
}
.zes{
  background-image: url("http://68.media.tumblr.com/17f2230a7209b55d221113fabdb09db0/tumblr_oggg6vaLv81vimo5yo1_1280.jpg");
  background-size: cover;
  background-position: center,
}
