<div class="pure-g">
      <div class="pure-u-1 eentje">
            <h1>Jasmien Kayali</h1>
            <h2>Portfolio</h2>
      </div>

      <div class="pure-u-1 tweetje">
            <h3>My work</h3>
            <div class="gallery">

              <div class="item een">
                <p>Photoshop CS6</p>
              </div>

              <div class="item twee">
                <p>Cinema 4D</p>
              </div>

              <div class="item drie">
                <p>Photoshop CS6</p>
              </div>

              <div class="item vier">
                <p>Cinema 4D</p>
              </div>

              <div class="item vijf">
                <p>Illustrator CS6</p>
              </div>

              <div class="item zes">
                <p>Cinema 4D</p>
            </div>
      </div>
</div>
